{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon-logo.webp' %}">
    <title>Products</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        .nav{
            background-color:rgb(38, 219, 77);
            display: inline;
        }
    </style>
</head>
<body>
    <div class="nav">
        <img src="{% url 'images/logo.jpeg' %}" alt="">
        <p>hi</p>

        

    </div>
    
</body>
</html>